.header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #da291c;
}

.title {
    font-size: 5rem;
    color: #ffc72c;
    text-shadow: 
    1px 1px 0 #000,  
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}