.container {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3eeee;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #f36d21;
    border-radius: 15px;
    gap : 3rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: #f3eeee;
    border-radius: 15px;
    width: 50vh;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-size: 5rem;
    color: #ffc72c;
    text-shadow: 
    1px 1px 0 #000000,  
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.imagebigmac {
    width: 40vh;
    height: 30vh;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.imagebigmac {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 40vh;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .block {
        width: 95%;
    }

    .aside {
        width: 25vh;
        height: 70vh;
    }

    .subtitle {
        font-size: 4rem;
    }

    .imagebigmac {
        width: 50vh;
        height: 35vh;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .block {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        
    }

    .aside {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .article {
        width: 100%;
    }

    .imagebigmac {
        width: 100%;
        height: auto;
    }

    .subtitle {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .block {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        margin-top: 50rem;
    }

    .aside {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .article {
        width: 100%;
    }

    .imagebigmac {
        width: 100%;
        height: auto;
    }

    .subtitle {
        font-size: 2rem;
    }
}