.container {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3eeee;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #f36d21;
    border-radius: 15px;
    gap : 1rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: #f36d21;
    border-radius: 15px;
    width: 30vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-size: 5rem;
    color: #ffc72c;
    text-shadow: 
    1px 1px 0 #ffffff,  
    1px 1px 0 #000,
    1px 1px 0 #ffffff,
    1px 1px 0 #000;
}

.imagebigmac {
    width: 40vh;
    height: 30vh;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imagebigmac {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 40vh;
}
